* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
}

/*
html, body{
    height: 100%;
}*/

body{
    background: url(https://w0.peakpx.com/wallpaper/146/636/HD-wallpaper-piano-keys-bokeh-piano-playing.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}

#main{
    margin: 0px auto auto auto;
    /*background-image: linear-gradient(black, black, white);*/
    height: 100%;
}

#title{
        text-align: center;
        color: white;
        padding: 10px;
        background: black;
}

#description{
    color: white;
    text-align: center;
    background: black;
    padding: 10px;
}

.form-div{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    margin: auto;
    border-radius: 20px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
    height: 100%;
    width: 40%;
    background-color: RGBA(255,255,255,0.9);
}

form{
    height: 100%;
}

input{
    margin-right: 20px;
}

label, #preferred-label, #goals-label, #textArea {
    margin-left: 20px;
}

#name-label, #number-label, #email-label, #piano-level-label, #preferred-label, #goals-label, #multitext-label{
    font-weight: bold;  
}

#name, #email, #number, #playing-level-dropdown{
    float: right;
    width: 60%;
    height: 30px;
    border-radius: 5px;
    display: inline;
    padding: 0px 10px 0px 10px;
}

#textArea{
    border-radius: 5px;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-width: 2px;
    width: 90%;
}

#goals-sub-label, #goals-label{
    display:inline-block;
}

#playing-level-dropdown{
    width: 40%;
}

.input-radio, .input-checkbox {
  display: inline-block;
  margin-right: 10px;
  min-height: 20px;
  min-width: 20px;
  vertical-align: middle;
}

.radio-label{
    padding: 5px 0px 5px 0px;
}


#submit{
    width: 100%;
    height: 40px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    background-color: rgb(14, 145, 14);
    border-radius: 5px;
}

@media screen 
  and (min-device-width: 400px) 
  and (orientation: portrait) {
    .form-div{
        /* width: 50%; */
        width: 70%;
    }
    #textArea{
        width: 280px;
        height: 120px;
        padding-right: 10px;
        margin-left: 0px;
    }

}