
.flex-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.form-div{
    /* width: 50%; */
    padding: 10px;
    flex: 1;
}

.info-div{
    flex: 1;
}

.name-group .email-group .number-group{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .flex-container{
        flex-direction: column;
    }
  
}

@media (orientation: portrait){
    .flex-container{
        flex-direction: column;
    }
}

